{% extends 'base.html.twig' %}

{% block body %}
<div class="well">
	<a href="{{ path('commodity-edit', {'id': commodity.id}) }}" class="btn btn-default pull-right">Edit commodity</a>
	<h3>{{ commodity.name }}</h3>
	<h4>{{ commodity.category.name }}</h4>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 style="margin: 5px 0px;">
			Demand for {{ commodity.name }}
		</h4>
	</div>
	<table class="table table-bordered">
		<tr>
			<th>Station</th>
			<th>System</th>
			<th>Buying</th>
			<th>Demand</th>
		</tr>
		{% for posting in demand %}
		<tr>
			<td><a href="{{ path('station-show', {'id': posting.station.id}) }}">{{ posting.station.name }}</a></td>
			<td><a href="{{ path('system-show', {'id': posting.station.system.id}) }}">{{ posting.station.system.name }}</a></td>
			<td>{{ posting.sell|number_format }}</td>
			<td>{{ posting.demand|number_format }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 style="margin: 5px 0px;">
			Supply for {{ commodity.name }}
		</h4>
	</div>
	<table class="table table-bordered">
		<tr>
			<th>Station</th>
			<th>System</th>
			<th>Selling</th>
			<th>Supply</th>
		</tr>
		{% for posting in supply %}
		<tr>
			<td><a href="{{ path('station-show', {'id': posting.station.id}) }}">{{ posting.station.name }}</a></td>
			<td><a href="{{ path('system-show', {'id': posting.station.system.id}) }}">{{ posting.station.system.name }}</a></td>
			<td>{{ posting.buy|number_format }}</td>
			<td>{{ posting.supply|number_format }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
