{% extends 'base.html.twig' %}

{% block body %}
   <div class="panel panel-default">
	<div class="panel-heading">
		<h3 style="margin: 5px 0px;">
			{{ system.name }} System
			<div class="pull-right" style="margin-top: -2px; margin-right: -2px;">
				<a href="{{ path('system-edit', {'id': system.id}) }}" class="btn btn-default btn-sm">Edit system</a>
				<a href="{{ path('station-new', {'system_id': system.id}) }}" class="btn btn-primary btn-sm">Add new station</a>
			</div>
		</h3>
	</div>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
		</tr>
		{% for station in system.stations %}
		<tr>
			<td><a href="{{ path('station-show', { 'id': station.id }) }}">{{ station.name }}</a><span class="badge pull-right">{{ station.postings|length }}</span></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
